@font-face {
    font-family: arc;
    src: url(font/Arciform.otf);
}




body {
	margin: 0;
	padding: 0;
}


header {
	background-image: url("assets/web/bg.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;
	
	margin-bottom: 50px;

	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items : center;







}	

.gamebg {
	background-color: #363636;
}

h1 {
	font-family: arc, monospace;
	font-size: 6em;
}

h2{
	text-align: center;
	font-size: 2em;
}

p {
	max-width: 600px;
 	margin : 0 auto 20px;

}

.screenshot {

}









#TapTapGuitar {
	margin: auto;
	display: table;
}
